.row{
    display: flex;
    justify-content: space-between;
}
.comments{
    padding: 10px;
    background-color: #F4F4F4;
    width: 300px !important;
    border-radius: 25px;
}
.comment_top{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    gap: 10px;
    h1{
        font-size: 16px;
        font-weight:600;
        color: #AF0104;
    }

    .comments_id{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .comment_tr{
        padding-left: 20px;
        font-size: 32px;
    }
    
}

.comment_bottom{
    width: 270px;
    background-color: #FFFFCD;
    padding: 15px;
    border-radius: 40px;
    font-size: 16px;
}