/* .sidebar{
    background-color: yellow !important;
    width: 300px;
    padding: 25px;
    padding-top: 0;
}
.sidebar_list{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
} */